    .nav {
        background-color: #2D2A32;
        color: #F5F5F5; 
        list-style: none;
        text-align: right;
        margin: 1em;
        padding: 20px 0 20px 0;
        border: none;
    }
    .nav > li {
        display: inline-block;
        padding-right: 50px;
    }
    .nav > li > a {
       text-decoration: none;
       font-size: 125%;
       color: #F5F5F5;
    }
    .nav > li > a:hover {
        color: #2AB7CA;
    }
    
    
    .nav ul {
        display: flex;
        list-style: none;
        position: relative;
        justify-content: center;
        padding: 0;
        margin: 0;
    }
    .nav ul li {
        float: left;
    }
    .nav ul ul {
        display: none;
        position: absolute;
        top: 100%;
    }
    .nav ul li:hover > ul {
        display: flex;
        flex-direction: column;
        display: block; 
        color: #2AB7CA;
    }