    .nav {
        background-color: #2D2A32;
        color: #F5F5F5; 
        list-style: none;
        text-align: right;
        margin: 1em;
        padding: 20px 0 20px 0;
        border: none;
    }
    .nav > li {
        display: inline-block;
        padding-right: 50px;
    }
    .nav > li > a {
       text-decoration: none;
       font-size: 125%;
       color: #F5F5F5;
    }
    .nav > li > a:hover {
        color: #2AB7CA;
    }

    nav ul {
        display: flex;
        justify-content: right;
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
      nav li {
        margin: 0 10px;
        padding: 5px 10px;
        border: 1px solid black;
        position: relative;
      }
      
      nav a {
        text-decoration: none;
        color: black;
      }
      
      nav ul ul {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
      }
      
      nav ul li:hover > ul {
        display: flex;
        flex-direction: column;
      }
      
      nav ul {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
      nav li {
        margin: 0 10px;
        padding: 5px 10px;
        border: 1px solid black;
        position: relative;
      }
      
      nav a {
        text-decoration: none;
        color: black;
      }
      
      nav ul ul {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
      }
      
      nav ul li:hover > ul {
        display: flex;
        flex-direction: column;
      }