.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #2D2A32;
  color: #F5F5F5; 
  list-style: none;
  text-align: right;
  margin: 1em;
  padding: 20px 0 20px 0;
  border: none;
}
.menu ul{
  padding: 0;
  list-style: none;
  background: #2D2A32;
}
.submenu {
  display: inline-block;
  position: relative;
  line-height: 21px;
  text-align: right;
}
ul li a{
  display: block;
  padding: 8px 25px;
  font-family: arial;
  font-size: 100%;
  color: #F5F5F5;
  text-decoration: none;
}
ul li a:hover{
  color: #2AB7CA;
  background: #2D2A32;
}
ul li ul.dropdown{
  min-width: 100%; 
  background: #2D2A32;
  display: none;
  position: absolute;
}
ul li:hover ul.dropdown{
  display: flex;
  flex-direction: column;
}
ul li ul.dropdown li{
  display: block;
}
.list {color: #333333;
    font: sans-serif;
    font-size: 14pt;
    list-style: circle;
     }
