/* Colors

Raisin Black #2D2A32
White #FFFFFF
White Smoke #F5F5F5
YinMin blue (dark blue) #2F4D6D
Turquoise (moonstone) #2AB7CA
Mustard Yellow #FED766
*/ 

/* Whole Site */ 

@font-face { 
  font-family: Arvo;
  src: url(../islt_7355/fonts/Arvo/Arvo-Regular.ttf); 
}

@font-face { 
  font-family: Lato;
  src: url(../islt_7355/fonts/Lato/Lato-Regular.ttf); 
}

body {
  font-family: Lato, Sans-Serif;
  color: #2D2A32;
  margin: 0;
  line-height: 1.75;
}

h1, h2, h3, h4, h5, h6 {
  color: #2F4D6D;
  font-family: Arvo, Serif;
 }


/* Whole Site Layout - consider renaming sections per page for cleaner code */
header {
    display: inline;
    vertical-align: center;
    background: #FFFFFF;
}

/* .hangingindent {
  padding-left: 40px ;
  text-indent: -22px ;
} */
  
*,:after,:before {
  box-sizing: border-box;
}

html {
  font-size:100%
}

main {
  background: #FFFFFF;
  margin: 2% auto 20%;
  padding: 0 2%;
  width: 95%;
  }

.header  {
  margin: auto;
  max-width: 75rem;
}

.header, main, section {
  text-align: left;
  display: block;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  /* border: 1px solid #FED766;
  color: #2D2A32; */
}

/* Footer */
.footer { 
  height: 250px;
  width: 100%;
  padding: 50px;
  bottom: 0;
  font-size: 12pt;

  text-align: center;
  background-color: #2D2A32;
  color:#F5F5F5;
  }

.footer a {
  color:#2AB7CA;
  }

.social-icon {
    width: 16px;
    height: 16px;
    margin: 0 5px;
    transition: all .2s ease-in-out; 
  }

.social-icon:hover {
    transform: scale(1.5);
  }
  

/* Home Page */
.hero {
  width: 100%;
  height: 650px;
  padding-top: 150px;
  left: 50%;
  margin-top: -25px;
  background-color: #2D2A32;
  }

.reflect {
  color: #F5F5F5;
  padding: 25px;
  text-align: center;
  }

.reflect a {
  font-size: 30px;
  color:#F5F5F5; 
  text-decoration:none; 
  cursor:pointer;  
}

.reflect a:hover {
  color:#2AB7CA; 
  text-decoration:none; 
}

.content-1 {
  padding-top: 155px;
}

/* About Page */

section {
  text-align: left;
  display: block;
  margin: 0;
  padding-left: 0px;
  /* border: 1px solid #FED766;
  color: #2D2A32; */
}

aside {
  align-items: center;
  display: block;
  margin: 0;
  padding-left: 20px;
  padding-right: 100px;
  /* border: 1px solid #FED766;
    color: #2D2A32; */
}

.box-one {
  background-color: #FFFFFF;
  width: auto;
  padding: 10px;
  margin: 10px;
}

.headshot {
  border-radius: 15%;
}

blockquote {
  font-family: Lato, Sans-Serif;
  font-size: 14pt;
  font: bolder;
  padding: 0;
  margin: 0;
  }


/* Projects Page */

hr.rounded {
  border-top: 1px solid #F5F5F5;
  border-radius: 5px;
}

hr.rounded-2 {
  border-top: 5px solid #F5F5F5;
  border-radius: 5px;
}

.responsive {
  width: 95%;
  height: auto;
}

/* Reflection Page */
.hero-2 {
  width: 100%;
  height: 375px;
  margin-top: -20px;
  background-image: url("../islt_7355/images/reflection.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.reflect-2 {
  color: #2F4D6D;
  padding: 100px;
  text-align: center;
}

/* Table */

.styled-table caption {
  display: table-caption;
  text-align: left;
  padding-bottom: 10px;
}

.styled-table {
  border-collapse: collapse;
}

.styled-table thead tr th {
  text-align: center;
}

td, th {
  border: 1px solid #2D2A32;
  padding: 0.5rem;
  text-align: left;
}

.styled-table thead, tfoot tr td {
  background-color: #2F4D6D;
  color:#F5F5F5;
}

.styled-table tr:nth-child(even) {
  background-color: lightgray;
}

.tfoot-1 {
  background-color: #2F4D6D;
  color:#F5F5F5;
}

/* Button */

/* tr {
  border-bottom: 1px solid #2F4D6D;
}

th {
  background-color: #2F4D6D;
  color: #F5F5F5;
}

tr:nth-child(even) {
  background-color: #F5F5F5;
} */

/* Might be removed based on instructor feedback

.button-container {
  background-color: #FFFFFF;
  width: auto;
  height: 200px;
  padding: 25px 0px 25px 0px;
}

.button-container .button {
  display: inline-flex;
  border: 0;
  border-radius: 0.25rem;
  background: #2AB7CA;
  color: #FFFFFF;
  font-family: Lato, Sans-Serif;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 10px 10px 10px 10px;
  margin: 15px;
  cursor: pointer;
}

.button a {
  color:#F5F5F5;
  text-decoration: none;
}

.button:hover {
  background-color: #2F4D6D;
  transition: 0.7s;
}

.button:focus {
  outline-color: transparent;
  outline-style:solid;
  box-shadow: 0 0 0 4px #2F4D6D;
}

.button:focus {
  outline-color: transparent;
  outline-style:solid;
  box-shadow: 0 0 0 4px #2D2A32;
  transition: 0.7s;
}
*/

/* Contact Form */

.contact-container {
  border-radius: 5px;
  background-color: #2D2A32;
  color: #F5F5F5;
  font-family: Lato, Sans-Serif;
  padding: 30px;
  margin: 0 auto;
  margin-left: 0%;
  margin-right: 5%;
  margin-bottom: 10%;
  max-width: 500px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  resize: vertical;
}
input[type=email] {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  resize: vertical;
}

input[type=submit] {
  background-color: #2F4D6D;
  color: #F5F5F5;
  font-family: Lato, Sans-Serif;
  font-weight: bold;
  padding: 15px 22px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #2AB7CA;
  color: #F5F5F5;
  font-family: Lato, Sans-Serif;
  font-weight: bold;
}


/* Printing */
@media print {
  
  /* Hide items */
  img {
    display: none;
  }
  nav {
    display: none;
  }

  /* Global reset */
  body {
    font-family: serif;
    font-size: 12pt;
    line-height: 18pt;
    background: none;
    color: #000;
  }

  /* Layout reset */
  main, .header, section, .content-1, .sidebar, .aside, .box-one, .footer {
    height: 100%;
    padding: 0;
    margin: 0;
    background: none;
    color: #000;
  }

  /* Specifics */
  h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-size: 14pt;
    line-height: 18pt;
    padding: 0;
    margin: 0;
  }

  a:link, a:visited {
    color: #000;
    background: none;
    padding: 0;
     }

  footer a:link, footer a:visited {
    color: #000;
    background: none;
    padding: 0;
     }
  
  @page  { 
    margin: 25mm 25mm 25mm 25mm;  
  } 

 /* a::after {
    content: " [" attr(href) "}";
  } */

}

/* Responsive - Computer */


/* Responsive - Tablet */

@media only screen and (max-width: 800px) {
  .contact-container {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }

  video {
    max-width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media only screen and (max-width: 800px) {
  .styled-table {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media screen and (min-width: 640px) {
  .flex-container {
    display: flex;
  }
    
  .content {
    flex:1;
    background:#FFFFFF;
  }
  
  .sidebar {
    flex:0 1 300px;
    background: #FFFFFF;
  }

  video {
    max-width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.contact-container {
  width: 100%;
}

  /* Responsive - Mobile */
