h1 {color: #003366;
    font: sans-serif;}

p {color: #333333;
   font: sans-serif;
   font-size: 14pt;
    }

li {color: #333333;
   font: sans-serif;
   font-size: 14pt;
    }

ol {color: #333333;
   font: sans-serif;
   font-size: 14pt;
    }
br {color: #333333;
   font: sans-serif;
   font-size: 14pt;
    }

.box-one {
      background-color: #F5F5F5;
      border: 20px solid #2AB7CA;
      width: 150px;
      padding: 20px;
      margin: 20px;
    }