*,:after,:before {
    box-sizing:border-box
    }
html {
    font-size:100%
    }
body {
    margin: 0;
    padding: 20px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1rem;
    color: #2D2A32;
    }
.wrapper {
    margin:auto;
    max-width: 75rem;
    }
aside,footer, header, main, section {
    text-align: left;
    display: block;
    margin: 0;
    padding: 1.25rem;
    border: 1px solid #FED766;
    color: #2D2A32;
    }
main {
    background: #F5F5F5;
    }
.header {
    background: #F5F5F5;
    }
/*.hero {
    background:#F5F5F5;
    }*/


@media screen and (min-width:640px) {
    .flex-container {
        display: flex;
      }
    }
    .content {
        flex:1;
        background:#F5F5F5;
    }
    .sidebar {
        flex:0 1 300px;
        background: #F5F5F5;
    }
    .footer, .sidebar {
        border:1px solid #FED766;
    }
    .footer { 
        background:#F5F5F5;
    }
    .nav {
      background-color: #2D2A32;
      color: #F5F5F5; 
      text-align: right;
      height: 70px;
      line-height: 70px;
    }
    
    .menu {
      margin: 0 30px 0 0;
    }
    
    .menu a {
      background-color: #2D2A32;
      color: #F5F5F5; 
      clear: right;
      text-decoration: none;
      margin: 0 10px;
      line-height: 70px;
    }
    
    label {
      margin: 0 40px 0 0;
      font-size: 26;
      line-height: 70px;
      display: none;
      width: 30px;
      float: right;
    }
    
    #toggle {
      display: none;
    }
    
    @media only screen and (max-width: 640px) {
      label {
        display: block;
        cursor: pointer;
      }
      .menu {
        text-align: center;
        width: 100%;
        display: none;
      } 
      .menu a {
        display: block;
        margin: 0; 
      }
      #toggle:checked + .menu {
        display: block;
      }
    }